modTrial8/uncooked
modTrial8/resources
modTrial8/imgui.ini
modTrial8/wcc.log
modTrial8/_tmp/files.cook.db
*.scene-timeline
modQuestTest
modTrial8BAK
modTrial8/definition.quest/backups
modTrial8/_tmp
modTrial8/speech/imgui.ini
modTrial8/trial8.sublime-workspace
modTest
